.container {
  display: flex;
}

.titleClass {
    flex: 10;
}

.btnClass {
  background-color: #007399;
  color: white;
  font-weight: 900;
  text-decoration: inherit;
  padding: 6px 9px;
  /* flex:1; */
  cursor: pointer;
  border: none;
  border-radius: 20%;
  transition-duration: 1s;
}
.btnClass:hover {
    background-color: red !important;
    transform: rotateX(160deg);
}

.headerClass {
  /* '#e6e6ff' : '#007399' */
  background-color: #007399;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #e6e6ff;
  padding: 10px;
  margin-top: auto;
}
.linkClass {
  color: #e6e6ff;
  text-decoration: none;
}

.addToField {
  flex: 19;
  padding: 5px;
  margin: 3px;
  border-radius: 3%;
  border: 3px #e6e6ff solid;
}
